<a href="https://colab.research.google.com/github/Rogerio-mack/Ling-de-Prog-para-Ciencia-de-Dados/blob/main/PL_Python_3_exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right"> 

<h1 align=left><font size = 8, style="color:rgb(200,0,0)"><b>Ciência de Dados </b></font></h1> 
<h1 align=left><font size = 5, style="color:rgb(0,0,0)"><b>Paradigmas de Linguagens de
Programação para Ciência de Dados</b></font></h1> 

# 3 Visualização dos Dados com Matplotlib e Seaborn
Professores: *Diego Nogare* & *Rogério de Oliveira* 

<br>
<br>

---

# Exercícios

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Examine graficamente as funções,

$$ y(t) = e^{-t} $$
$$ y(t) = e^{-t} cos(2 \pi t) $$
$$ y(t) = e^{-|t|} sin(t) $$

Qual delas apresenta evolução monotonicamente (sempre em um único sentido) decrescente?

In [ ]:
# Seu código. 

# Dica: empregue esses valores de t para exibir as funções

# Examine a distribuição de idades dos passageiros de `Titanic`,

graficamente você identifica que tipo de distribuição de idades?

In [26]:
titanic = sns.load_dataset('titanic')
display(titanic.head())

# Seu código

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

# Despolarização neural,

Empregue o dataset `dots`. Veja o gráfico abaixo para entender o que é a fase de **despolarização**. Produza então um gráfico para examinar quanto dura aproximadamente a despolarização de um neurônio do tipo = choice 'T2' e align 'dots'. 

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Action_potential.svg/300px-Action_potential.svg.png" width=300, align="center">

In [7]:
import seaborn as sns
df = sns.load_dataset('dots')
df.head()

  align choice  time  coherence  firing_rate
0  dots     T1   -80        0.0    33.189967
1  dots     T1   -80        3.2    31.691726
2  dots     T1   -80        6.4    34.279840
3  dots     T1   -80       12.8    32.631874
4  dots     T1   -80       25.6    35.060487

In [8]:
# Seu código

# Dica: comece selecionando os dados e experimente os gráficos do Matplotlib e Seaborn

# Tendência de Valores da Bolsa,

Analisando graficamente os índices da Bolsa da base abaixo, qual ou quais índices apresentam tendência (movimentos de alta e baixa) discrepantes com relação ao IBOV no período?

In [15]:
import pandas as pd
df = pd.read_csv('http://meusite.mackenzie.br/rogerio/data_load/bovespa2020_2021.csv')
df.head()

         data      IBOV  VALE3      PETR4   DOLAR
0  2020-01-02  118573.0  13.45  16.270000  4.0163
1  2020-01-03  117707.0  13.29  15.990000  4.0234
2  2020-01-06  116878.0  13.14  16.219999  4.0570
3  2020-01-07  116662.0  13.23  16.059999  4.0604
4  2020-01-08  116247.0  13.22  15.700000  4.0662

In [ ]:
# Seu código

# Dica: Normalize os valores de cada índice, por exemplo fazendo

df.valor = df.valor / max(df.valor)

# Buscando Correlações,

Considere os valores numéricos de `mpg` (abaixo). Construa um gráfico que permita você observar a correlação dos dados com relação a valor de `mpg` (milhas por galão) e responder que atributos apresentam correlação negativa e valores aproximadamente inferiores a  $-0.7$.

In [17]:
import seaborn as sns
df = sns.load_dataset('mpg')
df.head()

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]