<a href="https://colab.research.google.com/github/Rogerio-mack/Ling-de-Prog-para-Ciencia-de-Dados/blob/main/PL_Python_2_exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right"> 

<h1 align=left><font size = 8, style="color:rgb(200,0,0)"><b>Ciência de Dados </b></font></h1> 
<h1 align=left><font size = 5, style="color:rgb(0,0,0)"><b>Paradigmas de Linguagens de
Programação para Ciência de Dados</b></font></h1> 

# 2 Seleção e Organização de Dados com Pandas
Professores: *Diego Nogare* & *Rogério de Oliveira* 

<br>
<br>

---

# Exercícios

Nos exercícios a seguir emprege a base de dados `titanic`.

Todos exercícios possuem várias soluções possíveis, mas não se preocupe com isso. A melhor solução é primeiro, a que funciona para você!

In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
from random import choices

titanic = sns.load_dataset('titanic')
titanic.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

1. Qual a quantidade de linhas e colunas de `titanic`?

In [ ]:
# seu código

2. Qual a idade do passageiro mais velho?

In [ ]:
# seu código

3. Qual a idade da sobrevivente feminina mais velha?

In [ ]:
# seu código

4. Qual o percentual de sobreviventes da primeira e terceira classes?

In [ ]:
# seu código

5. Analise a média de idade dos passageiros por classe e sexo (sugestão: empregue groupby). Você pode notar que?

In [ ]:
# seu código